@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-main: #2d2d2d;
  --text-secondary: #757575;
  --purple: #a445ed;
  --red: #ff5252;
  font-family: "Inter", sans-serif;
}

.dark {
  --bg-color: #050505;
  --text-main: #ffffff;
  --text-secondary: #757575;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}
